
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p, h1, h2, h3, h4, h5, h6 {
        @apply roboto-regular
    }
    div {
        @apply cursor-default
    }
}

@layer components {

    .ResponsiveFontThin {
        @apply roboto-thin
    }

    .ResponsiveFontLight {
        @apply roboto-light
    }

    .ResponsiveTextXSm {
      @apply text-xs sm:text-sm md:text-base
  }

    .ResponsiveTextSm {
        @apply text-sm sm:text-base md:text-lg
    }
    
    .ResponsiveTextBase {
        @apply text-base sm:text-lg md:text-xl
    }
    
    .ResponsiveTextLg {
        @apply text-lg sm:text-xl md:text-2xl
    }

    .HeaderText {
        @apply text-3xl sm:text-4xl md:text-5xl amatic-sc-regular
    }

    .ButtonText {
        @apply text-sm sm:text-base md:text-lg
    }

}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}
